* {
    font-family: 'Roboto', sans-serif;
}

body{
    border: 15px solid transparent;
    border-image-source: url(images/border05.gif);
    border-image-repeat: repeat;
    border-image-slice: 30;
    background-color: black;
}
.parent > div {
    border: solid;
    background: black;

}
#category {
    color: whitesmoke;
    text-align: center;
    font-size: 33px;
    padding-top: 19%;
}

#jpd{
    font-size: 100px;
    color: whitesmoke;
    background: black;
}
.jeopardy {
    border: solid;
    
    
}

.parent{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   /* I set up how many columns i want to have */
   grid-template-rows: 150px 115px 115px 115px;
   /* I set up how many rows i want to have */
   grid-template-areas:
   /* name our template section */
   "child1 child2 child3 child4 child5"
   "child6 child7 child8 child9 child10"
   "child11 child12 child13 child14 child15"
   "child16 child17 child18 child19 child20";
   grid-gap: 10px;
   padding-top: 50px;
   padding-right: 10px;
   padding-left: 10px;
}


child1{
    grid-area: child1;
}
child2{
    grid-area: child2;
}
child3{
    grid-area: child3;
}
child4{
    grid-area: child4;
}
child5{
    grid-area: child5;
}
child6{
    grid-area: child6;
}
child7{
    grid-area: child7;
}
child8{
    grid-area: child8;
}
child9{
    grid-area: child9;
}
child10{
    grid-area: child10;
}
child11{
    grid-area: child11;
}
child12{
    grid-area: child12;
}
child13{
    grid-area: child13;
}
child14{
    grid-area: child14;
}
child15{
    grid-area: child15;
}

child16{
    grid-area: child16;
}
child17{
    grid-area: child17;
}
child18{
    grid-area: child18;
}
child19{
    grid-area: child19;
}
child20{
    grid-area: child20;
}
#c6 {
    height: 100%;
    width: 100%;
}

#c7 {
    height: 100%;
    width: 100%;
}   

#c8 {
    height: 100%;
    width: 100%;
}

#c9 {
    height: 100%;
    width: 100%;
}

#c10 {
    height: 100%;
    width: 100%;
}

#c11 {
    height: 100%;
    width: 100%;
}

#c12 {
    height: 100%;
    width: 100%;
}

#c13 {
    height: 100%;
    width: 100%;
}

#c14 {
    height: 100%;
    width: 100%;
}

#c15 {
    height: 100%;
    width: 100%;
}

#c16 {
    height: 100%;
    width: 100%;
}

#c17 {
    height: 100%;
    width: 100%;
}

#c18 {
    height: 100%;
    width: 100%;
}
#c19 {
    height: 100%;
    width: 100%;
}
#c20 {
    height: 100%;
    width: 100%;
}